



@media all and (max-width: 768px) {
   .background {
    background-image: url('../../Assets/images/bg-sidebar-mobile.svg')  !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   }
   .shadow {
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
   }
}