body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


a.active {
  color: black !important;
  background-color: #C0DFFF;
}



.text-color {
  color: #17135d;
}

.bg-color {
  background-color: #510bac !important;
} 

.bg-card {
  background-color: rgba(218, 217, 241, 0.2);
}

.text-total {
color: #510bac;
}
